@import "variables";


.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  color: $color-font-default-grey;
  padding: 10px 40px;
  border-bottom: solid 1px $color-border-default;
  box-sizing: border-box;


  z-index: 100;

  .version {
    font-style: italic;
    font-size: 0.8em;
  }
}

