img {
  //box-shadow: 0 0 130px rgba(0, 0, 0, 0.38);
  max-width: 100%;
  -webkit-filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.18));

  margin: auto;
}
.wrapper {
  padding-bottom: 50px;
  text-align: center;
}
