@import "variables";

.spec-color {

  padding: 10px;
  text-align: center;
  width: 100px;
  max-width: 100%;

  .color-preview {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: solid 1px $color-font-default-grey;
    margin: auto;
  }
  .color-desc {
    font-style: italic;
  }



}
