<div class="spec-color">
  <div class="color-preview" [ngStyle]="{ background: hex }">

  </div>

  <span class="color-hex">
    {{ hex }}
  </span>
  <br>
  <span class="color-desc" *ngIf="desc">
    {{ desc }}
  </span>
</div>
