<div class="design-view-wrapper content-wrapper">

  <div class="toggle-space">
    <img src="/assets/images/icons/full-size.png" alt="full-size">
    <app-toggle-element (isToggledChange)="showMac = $event;"></app-toggle-element>
    <img src="/assets/images/icons/screen.png" alt="screen">
  </div>


  <app-design-view-full *ngIf="!showMac && designFullURL" [src]="designFullURL"></app-design-view-full>

  <app-design-view-mac *ngIf="showMac && designMacURL" [src]="designMacURL"></app-design-view-mac>
</div>
