.design-view-wrapper {
  margin-top: 10px;
}

.toggle-space {
  margin: auto;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;

  img {
    height: 35px;
    width: auto;
  }

  app-toggle-element {
    width: 86px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
