<div class="design-presentation">
  <app-header
    *ngIf="(project$ | async)"
    [title]="(project$ | async)?.title"
    [version]="(project$ | async)?.version">
  </app-header>


  <div class="design-space" *ngIf="(project$ | async)">

    <app-design-view-wrapper
      [designFullURL]="(project$ | async)?.designFullURL"
      [designMacURL]="(project$ | async)?.designMacURL">
    </app-design-view-wrapper>

    <app-design-specs [specs]="(project$ | async)?.specs"></app-design-specs>

  </div>


</div>
