@import "variables";

.design-presentation {
  background-color: $color-main-background;
  min-height: 100vh;
  padding-top: 100px;
  box-sizing: border-box;
}

.design-space {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;

  app-design-view-wrapper {
    flex-grow: 2;
  }
}
