@import "variables";


body, html {
  margin: 0;
  padding: 0;
  background: $color-main-background;
}

.content-wrapper {
  max-width: 1000px;
  margin: auto;
  width: 90%;
  position: relative;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
