.mac-mockup-wrapper {
  overflow: hidden;
  position: relative;
  margin-top: -15%;
}

#mac {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 100;
  pointer-events: none;
}

.design-wrapper {
  position: absolute;
  overflow: auto;

  left: 17.9%;
  top: 21.8%;
  right: 17.9%;
  bottom: 25.4%;

  img {
    width: 100%;
    height: auto;
    float: left;
  }
}
