<div class="mac-mockup-wrapper">
  <img src="/assets/images/mockups/Mockup-Macbook-Pro-2017.png" alt="" id="mac">
  <div class="design-wrapper">
    <img [src]="src" alt="Design" id="design">
  </div>
</div>
