$tablet-width: 768px;
$desktop-width: 1024px;



@mixin phone {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin bigger-than($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin smaller-than($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}
