<div class="design-specs" *ngIf="specs">

  <div class="fixed-part">
    <span>Logo</span>
    <section>

      <div class="logo-wrapper" >
        <img [src]="specs.logoURL" alt="Logo">
      </div>
    </section>


    <span>Farben</span>
    <section class="color-section">

      <div class="flex">
        <app-spec-color *ngFor="let color of specs.colors" [hex]="color.colorCode" [desc]="color.description"></app-spec-color>
      </div>
    </section>


  </div>

</div>
