@import "variables";
@import "mixins";

.design-specs {


  width: 300px;
  height: 100%;
  box-sizing: border-box;

  @include smaller-than(700px){
    display: none;
  }

  .fixed-part {
    position: fixed;
    z-index: 90;
    top: 0;

    background: $color-secondary-background;
    padding: 10px;
    padding-top: 90px;

    border-left: solid 1px $color-border-default;

    width: 300px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
  }

  section {
    border-top: solid 1px $color-border-default;
    padding: 20px 0;
  }


  .logo-wrapper {
    width: 100px;
    height: 100px;
    border: solid 1px $color-border-default;
    display: flex;
    align-items: center;

    img {
      width: 100%;

    }
  }

  .color-section .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
  }
}
