/* You can add global styles to this file, and also import other style files */


@import "scss/defaults/font";
@import "scss/defaults/layout";


// loader

.invisible {
  opacity: 0 !important;
}

.removed {
  display: none;
}
