<div class="can-toggle demo-rebrand-2">
  <input id="e" type="checkbox" (change)="toggle($event)">
  <label for="e">
    <div class="can-toggle__switch" data-checked="Yes" data-unchecked="No"></div>
  </label>
</div>
